body{

	margin: 0px;
}
a{
	text-decoration: none;
}
p{
	margin-top: 0;
}
.navbar{

	width: 100%;
	height: 90px;
	background: red;
	top: 0;
	position: fixed;
	z-index: 1;
}

.top{

	width: 100%;
	height: 30px;
	background: white;
}

.top-nav-container{

	width: 1000px;
	height: 30px;
	margin: auto;

}
.top-nav{

	width: 300px;
	height: 20px;
	background: white;
	padding: 5px 0px;
	float: right;
}
.top-nav img{
	margin-top: 2px;
	float: left;
	opacity: 0.8;
}
.top-nav button{
	border: none;
	background-color: white;
	font-family: Open Sans Light;
	font-size: 14px;
	width: auto;
	height: auto;
	
}

.top-nav button p{
	color: red;
	margin-top: -1;
	font-size: 14px;
}

.top-nav span{

	font-family: Open Sans Light;
	font-size: 14px;
	margin-left: 20px;
	float: right;
}
.top-nav a{
	color: black;
}
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 100px;

}
.modal-content{
	background-color: #fefefe;
	margin: auto auto;
	border-top: 10px solid #3c94de;
	padding: 0 50px;
	width: 300px;
	height: auto;

}

.modal-content button{
	margin-left: 380px;
}
.close{
	position: absolute;
	margin-left: 310px;
	color: #a5a5a5;
	font-size: 30px;
	font-weight: bold;

}
.close:hover,
.close:focus{
	color: #3f95de;
	cursor: pointer;
}

.animate{
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom{
	from {
		-webkit- transform: scale(0);
	}
	to {
		-webkit- transform: scale(1);
	}
}
@keyframes animatezoom{
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.login-header{

	width: 100%;
	height: 50px;
	text-align: center;
}
.login-header h1{
	margin-top: 0px;
	font-family: Open Sans;
	margin-top: 30px;
	color: #666;

}
.login-form{
	width: 100%;
	height: auto;
	margin-top: 20px;
	font-family: Open Sans;
	color: #666; 
}
.login-form label{
	font-size: 16px;
}
.login-form input[type="email"],
            input[type="password"]{
	width: 100%;
	height: 26px;
	font-size: 15px;
	margin-top: 10px;
	padding: 15px 34px;
	border: none;
	border-bottom: solid 1px #a5a5a5;
	color: #666;
}
.login-form input[type="submit"]{
	border: none;
	background-color: #3f95de;
	color: #fff;
	font-family: Open Sans;
	font-size: 15px;
	width: 100%;
	height: 40px;
	margin-top: 20px;
}
.login-form input[type="submit"]:hover{
	background: #60abeb;
}
.logo-user{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	position: absolute;
	margin-top: 14px;
}
.logo-user img{
	opacity: 0.5;
}
.logo-psw{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	position: absolute;
	margin-top: 14px;
}
.logo-psw img{
	opacity: 0.5;
}
.forgot-psw{
	margin-top: 10;
	width: 100%;
	height: 30px;
	text-align: center;
}
.register-box{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	border-top: solid 1px #a5a5a5;
	padding-top: 20px;
}
.register-box p{
	float: left;
	margin-top: 0;
	margin-left: 20px;
}
.register-box a{
	text-decoration: underline;
	margin-left: 5px;
	color: #3f95de;
}
.tabcontent{
	display: none;
	padding: 6px 12px;
}
.nav{

	width: 100%;
	height: 60px;
	background: #3c94de;
}

.nav-container{

	width: 1000px;
	height: 60px;
	margin: auto;
}

.nav-logo{

	width: 263px;
	height: 60px;
	font-family: Open Sans ExtraBold;
	float: left;
}
.nav-logo a{
	font-size: 40px;
	position: absolute;
	text-decoration: none;
	color: #fff;
}

.nav-search{
	width: 60%;
	height: 60px;
	padding: 0px 10px;
	float:left;
	background: #3c94de;
}
.dropbtn-user{
	color: white;
	cursor: pointer;
	border: none;
	top: 0;

}
.dropbtn-user img{
	top: 0;

}
.dropdown-user{
	width: 100%;
	height: 60px;
	float: right;
	position: relative;
	display: inline-block;

}
.dropdown-content-user{
	display: none;
	position: absolute;
	right: 0;
	background: #f9f9f9;
	min-width: 160px; 
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0;
    border-top: solid 5px #3c94de;
}

.dropdown-content-user a{
	color: black;
	font-family: Open Sans Light;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content-user a:hover {
	background-color: #3c94de
}

.dropdown-user:hover .dropdown-content-user {
    display: block;
}

.dropdown-user:hover .dropbtn-user {

}
.user-name{
	height: auto;
	width: 100%;
	text-align: center;
	border-bottom: solid 5px #3c94de;
}
.user-name p{

	margin-top: 10;
	font-size: 15px;
	font-family: Open Sans;
	color: #666;
}

.dropbtn{
	color: white;
	cursor: pointer;
	border: none;
	font-size: 30px;
	background: #3c94de;
}
.dropbtn span{
	margin-left: 43px;
}
.dropbtn img{
	position: absolute;
	margin-top: 0;
}
.dropdown{
	width: 8%;
	height: 60px;
	float: right;
	margin-top: 8px;
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	right: 0;
	background: #f9f9f9;
	min-width: 160px; 
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    border-right: solid 1px #a5a5a5;
}

.dropdown-content a{
	color: black;
	font-family: Open Sans Light;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #3c94de}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3c94de;
}

.nav-search input[type=text]{

	border: none;
	width: 100%;
	height: 30px;
	margin-top: 15px;
	padding: 0px 10px;
	font-family: Open Sans;
}
.container{
	width: 1000px;
	height: auto;
	margin: auto;
	margin-top: 120px;
}
.banner{

	width: 100%;
	height: auto;
	margin: auto;
	background: blue;

}

.divider{

	width: 100%;
	height: 1px;
	background: #a5a5a5;
	margin-top: 20px;
	float: left;
}



.divider-product{

	width: 100%;
	height: 1px;

	background: #a5a5a5;
	margin-top: 30px;
	float: left;
}


.product-container{

	width: auto;
	height: auto;
	font-family: Open Sans Light;
	color: #6f6f6f;

}
.product-container h1{

	font-weight: 100;
	margin-left: 40px;
	font-size: 25px;
	float: left;
}

.box-container-product{

	width: 100%;
	height: auto;
	border: solid 1px  #a5a5a5;
	border-radius: 5px;
	padding: 30px 0px;
	float: right;
	position: relative;
}

.box-container-kategori{

	width: 100%;
	height: auto;
	border: solid 1px  #a5a5a5;
	border-radius: 5px;
	padding: 30px 0px;
	float: right;
	position: relative;
}

.product{

	width: 170px;
	height: 285px;
	margin-left: 9px;
	border: solid 1px #a5a5a5;
	float: left;
	padding: 3px;
	position: relative;
}

.img-product{
	width: 100%;
	height: 128px;

}
.img-product img{
	max-height: 155px;
}
.product-title{

	width: 100%;
	height: 45px;
	max-height: 45px;
	margin-top: 10px;

}

.product-title a{

	text-decoration: none;
	color: #606060;

}

.product-price{

	width: 100%;
	height: 20px;
	margin-top: 20px;		
	max-height: 20px;
}

.product-price a{

	text-decoration: none;
	color: #ee622d;
	font-size: 0.9em;
}

.product-tag{

	width: 100%;
	height: 20px;
	opacity: 0.6;
}

.product-tag img{
	width: 14px;
	height: auto;
}
.product-tag a{
	color: #000000;
	font-size: 13
}

.product-buy{
	display: block;
	height: auto;
	overflow: hidden;
	text-align: center;

}

.product-buy a{
	margin: 0 8;
	padding: 2 2;
	height: auto;
	float: left;
	display: block;
	text-decoration: none;
	background: #3c94de;
	width: 90%;
	color: white;
	border-radius: 5px;
	margin-top: 9px;

}
.product-buy a:hover{
	background: #317ebf;
}
.col-big{
	display: block;
	height: auto;
	overflow: hidden;
	text-align: center;

}

.col-big a{
	margin: 0 8;
	padding: 10 2;
	height: auto;
	float: left;
	display: block;
	text-decoration: none;
	background: #3c94de;
	width: 70%;
	color: white;
	border-radius: 5px;
	margin-top: 9px;

}
.col-big a:hover{
	background: #317ebf;
}

.col-large{
	display: block;
	height: auto;
	margin-bottom: 20px;
	text-align: center;
}

.col-large input[type="submit"]{
	padding: 10px;
	height: auto;
	float: left;
	display: block;
	text-decoration: none;
	border: none;
	background: #3c94de;
	width:97%;
	color: white;
	margin-top: 9px;
	margin-bottom: 20px;
}

.clear{
	width: 100%;
	height: 25px;
}
.clear-pengiriman{
	width: 100%;
	height: 63px;
}
.kategori{
	background: #d0d0d0;
	width: 136px;
	height: 152px;
	margin-left: 54px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	padding: 3px;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: #6f6f6f;
}

.kategori:hover{
	opacity: .7;
}
.kategori p{
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}
.kategori-logo{

	padding: 0 0;
}

.kategori-text{
	width: auto;
	height: auto;
	background: #d0d0d0;
	font-size: 20px;
	font-family: Open Sans;
}

.service{
	width: auto;
	height: auto;
	float: left;
	margin-top: 30px;
	margin-left: 70px;
}
.first{
	width: auto;
}

.first img{
	width: 60px;
}
.first h3{
		margin-left:60px;
}
.second{
	width: auto;
	margin-left: 280px;
}
.second img{
	width: 60px;
}
.second h3{
		margin-left:60px;
}
.third{
	width: auto;
	margin-left: 200px;
}
.third img{
	width: 95px;
	margin-top: 10px;
	height: 45px;

}
.third h3{
		margin-left:105px;
}
.service img{

	float: left;
}

.service h3{
	position: absolute;
	font-family: Open Sans Light;
	color: #6f6f6f;
	font-size: 17px;
}
.service strong{
		font-family: Open Sans;
		font-weight: bold;
}
strong{
	color: black;
}

.footer-background{

	background: #d1cfcf;
	width: 100%;
	height:auto;
	margin-top: 20px;
	float: left;
}

.footer-item{

	height: auto;
	width: auto;
	max-width: 188px;
	padding: 10px 0px;
	float: left;
	margin-left: 45px;
}
.footer-item input[type="email"]{
	padding: 5 5;
	margin-top: 10px;
	border: solid 1px #3c94de;
}
.footer-item img{
	float: left;
	margin-left: 5px;

}

.footer-item img:hover{
	opacity: .7;
}
.img-clear{
	margin-top: 10px;
}

.footer-item h4 strong{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 15px;
}

.footer-item a{
	text-decoration: none;
	color: #6f6f6f;
}

.footer-item li{
	list-style: none;
	font-family: Open Sans Light;
	margin-top: 5px;
	color: #6f6f6f;
}

.footer-container{
	width: 1000px;
	height: auto;
	margin: auto;
	margin-top: 30px;

}

.banner-shop-cart{

	height: 40;
	font-family: Open Sans Light;
	font-weight: none;
	font-size: 30px;


}
.cart-container{

	width: 100%;
	height: auto;
	float: left;
	margin-top: 30px;
	color: #666;
}
.left-cart-container{

	width: 70%;
	height: auto;
	float: left;
	border-right: solid 4px #a5a5a5;
	padding: 10px;
}
.right-cart-container{

	width: 27.6%;
	height: 400px;
	float: right;
	font-family: Open Sans;
}

.header-name-cart{
	width: 350px;
	height: 20px;
	float: left;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 15px;

}
.header-quantity{
	width: 140px;
	height: 20px;
	float: left;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}

.header-total{
	width: 180px;
	height: 20px;
	float: left;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}

.product-cart{
	width: 320px;
	height: auto;
	float: left;
	margin-top: 20px;
	margin-bottom: 10px;

}
.quantity-cart{
	width: 180px;
	height: auto;
	float: left;
	margin-top: 20px;
}

.total-cart{
	width: 200px;
	height: auto;
	float: left;
	margin-top: 20px;
}
.cart-item{
	width: 250px;
	height:60px;
	float: left;
}

.cart-item img{
	width: 70px;
	height: auto;
	border: solid 1px #a5a5a5;
	float: left;
	padding: 4px;
}
.cart-item p{
	float: left;
	margin-top: 0px;
	margin-left: 15px;
	font-family: Open Sans;
}
.cart-item-title{
	width: 150px;
	height: 100%;
	float: left;
}
.quantity-cart input[type="number"]{

	float: left;
	width: 50px;
	padding: 6px;
	font-size: 15px;
	font-weight: 500;

}

.quantity-cart span{
	font-family: Open Sans;
	font-weight: 500;
	margin-left: 7px;
	margin-top: 3px;
	float: left;

}

.quantity-cart p{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	font-family: Open Sans;
}

.total-cart p {
	float: left;
	margin-top: 3px;
	margin-left: 10px;
	font-family: Open Sans;
	font-weight: bold;
}
.total-cart span {
	float: left;
	font-family: Open Sans;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 3px;
}
.subtotal{
	width: 100%;
	height: auto;
	padding: 10px 0px;
	border-bottom: solid 1px #d6d6d6; 
	float: left;	
}
.subtotal strong{
	color: #666;
}
.li-left{
	float: left;
	list-style: none;
	margin-left: 30px;

}
.li-right{
	float: right;
	list-style: none;
}

.total-payment{	
	width: 100%;
	height: 40px;
	padding: 10px 0px;
	float: left;
	border-bottom: solid 1px #d6d6d6;
}

.total-payment h4{
	margin-left: 30px;
	margin-top: 10px;
	text-transform: uppercase;
	float: left;
}

.total-payment p{

	float: right;
	margin-top: 0px;
	margin-top: 8px;
	font-size: 20px;

}

.checkout{
	width: auto;
	height: auto;
	text-align: center;
	padding: 10px 85px;
	background: #3c94de;
	border-radius: 5px; 
	margin-left: 30px;
	margin-top: 20px;
	float: left;
	color: white;
	font-weight: lighter;

}
.detail-pembeli{
	width: 100%;
	float: left;
	margin-top: 20px;
	font-family: Open Sans;
}

.detail-pembeli label{
	font-size: 15px;
	font-weight: 500;
}
.detail-pembeli input[type="text"],
				input[type="email"],
				input[type="phone"]{
	width: 100%;
	height: 30px;
	border: none;
	padding: 0px 10px;
	border: solid 1px #a5a5a5;
	margin-top: 10px;
	margin-bottom: 15px;
}
.input-large{
	width: 100%;
	height: 400px;
}
.col-half{
	width: 49%;
	height: 400;
	float: left; 
}
.right{
	float: right;
}
.side-bar{
	width: 30%;
	height: auto;
	float: left;
	margin-top: 40px;
	color: #606060;
	font-family: Open Sans;
}

.sidebar-kategori{
	height: 20px;
	width: auto;
}

.side-bar h4{

	font-size: 20px;
	margin-top: 0px;
}
.side-bar li{
	list-style: none;
	margin-top: 10px;
	font-size: 18px;
	margin-left: 10px;
	font-weight: 300;
	color: #666;
}
.side-bar a{
	color: #606060; 
}
.details-container{
	width: 69%;
	height: 500px;
	float: left;
	margin-top: 40px;
	margin-left: 10px;
	float: left;
	font-family: Open Sans;

}

.details-item{
	width: 475px;
	height: 70px;
	float: left;
	margin-left: 15px;
}
.details-list{
	width: 100%;
	height: 130px;
}
.information-product{
	width: 100%;
	height: 20px;
	margin-top: 

}
.information-product h4{
	margin-top: 0;
	font-weight: 600;
	color: #606060;
}
.col-information-product{
	width: 150px;
	height: 16px;
	float: left;
	margin-left: 0px;
	margin-top: 20px;

}
.deskripsi{
	margin-top: 20px;
}

.right-col{
	margin-left: 30px;
}
.col-img-small{
	width: 13px;
	height: 13px;
	float: left;

}
.col-img-small img{
	opacity: 0.7;
	margin-top: 2px;
}
.details-list p{
	float: left;
	font-size: 13px;
	margin-top: 0;
	margin-left: 10px;
	font-weight: 300;
}
.details-list span{
	float: right;
	font-size: 13px;
	font-weight: 300;
}
.image-item{
	width: 200px;
	height: 200px;
	float: left;
}
.description-product-container{
	width: 100%;
	height: 400px;
	margin-top: 30px;
}
.description-product-container pre{
	font-size: 13px;
	color: #606060;
	font-family: Open Sans;
	max-width: 500px;
	white-space: pre-wrap;
}
.promo{
	width: 90%;
	height: auto;
	margin-top: 30px;
}
.featured{
	width: 90%;
	height: auto;
	margin-top: 30px;
}

.featured h4{

	font-weight: 500;
	height: 35px;
	border-bottom: solid 1px #a5a5a5; 
}

.product-list-container{
	width: 69%;
	height: 500px;
	float: left;
	margin-top: 40px;
	margin-left: 10px;
	float: left;
	font-family: Open Sans;

}

.product-list-header{
	width: 100%;
	height: 60px;
}

.product-list-header h4{
	margin-top: 0px;
	font-weight: 500;
	height: 40px;
	border-bottom: solid 1px #a5a5a5;
	color: #666;
}

.product-list-header strong{
	color: #464646;
}

.side-bar-admin{
	width: 250px;
	height: 100%;
	top:0;
	position: fixed;
	z-index: 1;
	background: #2b689a;
	box-shadow: -10px 0px 30px -5px rgba(0,0,0,0.4)inset;
	float: left;
}
.admin-main-container{
	width: 1349px;
	height: auto;
	margin: auto;
}
.admin-panel{
	width: 100%;
	height: 70px;
	text-align: center;
	padding: 10px 0px;
	font-family: Open Sans;
	color:#dbdbdb;
}
.admin-container{
	width: 1080px;
	height: auto;
	float:right;
}

.admin-user{
	width: 100%;
	height: auto;
	margin-top: 35px;
	font-family: Open Sans;
	font-weight: 400;
	color: #666;
}
.admin-user p{
	margin-top: 0px;
}
.admin-option{
	width: 100%;
	height: auto;
}

.admin-insert{
	display: block;
	height: 70px;
	width: auto;
	font-family: Open Sans;
	margin-top: 30px;
}
.admin-insert a{
	height: 70px;
	width: 100px;
	padding: 10px 20px;
	text-align: center;
	color: #666;
	border: solid 2px #a5a5a5;
	font-weight: 700;
}
.admin-insert a:hover{
	background: #2b689a;
	color: #dbdbdb;

}

.admin-insert a:active{
	background: #2b689a;
	color: #dbdbdb;
}

.admin-table table{
	font-family: Open Sans;
	border-collapse: collapse;
	width: 95%;
}
.admin-table td, th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	font-size: 14px;
}
.admin-table tr:nth-child(even){
	background: #dddddd;

}

.admin-table input[type="submit"]{
	background: white;
	font-size: 18px;
	border: solid 2px #a5a5a5;
	padding: 10px;
	border-radius: 5px;
	font-family: Open Sans;
	color: #666;
	font-weight: 600;
	margin-top: 10px;
}

.admin-table input[type="submit"]:hover{
	background:  #2b689a;
	color: #dbdbdb;
}

.admin-tambah-content{
	border: solid 1px #a5a5a5;
	border-radius: 10px 10px 0px 0px;
	width: 95%;
	height: auto;
	font-family: Open Sans;
	float: left;
}

.header-tambah{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	height: 30px;
	background: #a5a5a5;
	padding: 20px 0px;
}

.header-tambah h3{
	margin-top: 0px;
	color: #2d2d2d;
	margin-left: 20px;
}

.col-third{
	width: 30%;
	margin-left: 2.3%;
	height: auto;
	float: left;
	margin-top: 20px;
}

.col-third 	input[type="text"],
			input[type="email"],
			input[type="phone"]
			{
	width: 90%;
	height: 30px;
	border: none;
	padding: 0px 10px;
	border: solid 1px #a5a5a5;
	margin-top: 10px;
	margin-bottom: 15px;
}
.col-third input[type="file"]{
	width: 90%;
	height: 20px;
	border: none;
	padding: 10px 10px;
	border: solid 1px #a5a5a5;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.col-third textarea{
	width: 91%;
	border: none;
	padding: 0px 10px;
	border: solid 1px #a5a5a5;
	margin-top: 10px;
	margin-bottom: 15px;
	max-width:91%;
	max-height: 250px;
	height: 250px;
	font-family: Open Sans;
	padding: 10px;
}
.col-third h3{
	margin-top: 0;

}

button.accordion {
    background-color:#185384;
    color: #e0e0e0;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: Open Sans;
    font-weight: 500;
}

button.accordion.active, button.accordion:hover {
    background-color: #3478af; 
}

div.panel {
    padding: 10px 25px;
    display: none;
    background-color: #557dff;

}

a{
	color: #e0e0e0;		
	font-family: Open Sans;
	font-size: 15px;

}

.admin-table a{
	color: #666;
}